name: CI Pipeline - Build and Push Docker Images

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: akshitsingh0666
          password: dckr_pat_MCK_Cm4ssn0HlpBYUcHcb-hIL2Y

      - name: Log in to AWS ECR
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        id: build-image
        run: |
          IMAGE_NAME=myapp
          DOCKERHUB_TAG=${{ secrets.DOCKERHUB_USERNAME }}/$IMAGE_NAME:latest
          ECR_TAG=${{ steps.ecr-login.outputs.registry }}/$IMAGE_NAME:latest

          docker build -t $DOCKERHUB_TAG -t $ECR_TAG .

          echo "DOCKERHUB_TAG=$DOCKERHUB_TAG" >> $GITHUB_ENV
          echo "ECR_TAG=$ECR_TAG" >> $GITHUB_ENV

      - name: Push image to Docker Hub
        run: docker push $DOCKERHUB_TAG

      - name: Push image to AWS ECR
        run: docker push $ECR_TAG
